body {
  margin: 0;
  padding: 0;
  background-image: url("./resources/background.jpg");
}
.Oasis{
  background-color: #79a7ba;
  text-align: center;
  margin: auto;
  border-width: medium;
  border-style: dotted;
  display: block;
  position: relative;
  width: 50vw;
  color: white;
}
.Oasis a{
  color: white;
  text-align: center;
  padding: 50px, 50px;
}
.VoiceOn{
  background-color: #79a7ba;
  text-align: center;
  margin: auto;
  border-width: medium;
  border-style: dotted;
  display: block;
  position: relative;
  top: 29vw;
  width: 50vw;
  color: white;
}
.VoiceOff{
  background-color: #a8324c;
  text-align: center;
  margin: auto;
  border-width: medium;
  border-style: dotted;
  display: block;
  position: relative;
  top: 29vw;
  width: 50vw;
  color: white;
}
.timer{
  text-align: center;
}
.osis2{
  background-color: #79a7ba;
  text-align: center;
  margin: auto;
  border-width: medium;
  border-style: dotted;
  display: block;
  position: relative;
  width: 75vw;
  height: auto;
  color: white;
}
.linked{
  text-decoration: none;
  padding: 15px;
  color: white;
  background-color: #8cc8d4;
  text-align: center;
}
.linked:hover {
  background-color: #09c7ed;
}
.instructions h4{
  text-decoration: underline;
  font-size: 20px;
}
.instructions p{
  font-size: 20px;
}
